<!-- 404 -->

<%- include('./_head'); %>
<link rel="stylesheet" type="text/css" href="/css/404.css">
</head>

<body>
<header>
    <!--sticky nav bar-->
    <%- include('./_topNav'); %>
</header>

<div class="masterWrapper pure-g">
    <main class="pure-u-1">
        <div class="">
            <h1 class="Caladea">503</h1>
        </div>
        <div class="">
            <p class="Faustina infoText"><b>Oops, Internal Error.</b></p>
        </div>
        <p class="Faustina infoText"><b>You may want to head back to the homepage.</b></p>
        <div class="buttons_container pure-u-1">
            <a class="backHome" href="/"><span class="fa fa-home backHome"> Go to homepage</span></a>
        </div>
    </main>
</div>

<%- include('./_footer'); %>
<script type="text/javascript" src="/js/universe.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
</body>
</html>
