<!-- footer -->

<footer class="pure-g globalFooter">
    <div class="footerWrapper pure-u-1">
        <!-- footer nav link -->
        <div class="footerLinks pure-u-1">
            <div class="footerSub">
                <a href="/">Home</a>
            </div>
            <div class="footerSub">
                <a href="https://doc.gold.ac.uk/usr/520/draw">Draw Garden</a>
            </div>
            <div class="footerSub">
                <a href="/search">Plant Search</a>
            </div>
            <div class="footerSub">
                <a href="/calendar">Calendar</a>
            </div>
            <div class="footerSub">
                <a href="/list">Database List</a>
            </div>
        </div>
    </div>
</footer>
<!--header js file must be included in each page-->
<script type="text/javascript" src="/js/topNav.js"></script>
<!--browser detection-->
<script type="text/javascript" src="/js/helper_saysWho.js"></script>