<!-- header -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gardening Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Gardening WebApp">
    <meta name="keywords" content="garden, gardening, plant, flower, lifestyle">
    <meta name="author" content="@hl778">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo/favicon.ico">
    <!-- CSS normalize -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- Pure css -->
    <link rel="stylesheet" type="text/css" href="/css/libs/pure-min.css" crossorigin="anonymous">
    <!-- Pure grid -->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/libs/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="/css/libs/grids-responsive-min.css">
    <!--<![endif]-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css"
          href="/css/libs/materialize.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Caladea|Faustina|Neuton&display=swap" rel="stylesheet"
          type="text/css">
    <!--header-->
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <!--footer-->
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <!-- jQuery -->
    <script src="/js/libs/jquery-3.5.0.min.js" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript materialize-->
    <script src="/js/libs/materialize.min.js"></script>

